{{ 'routine-page.css' | asset_url | stylesheet_tag }}

<div class="routine-page">

    <div class="routine-page__image">
        {% if section.settings.image %}
            {{ section.settings.image | image_url: width: 600 | image_tag }}
        {% endif %}
    </div>

    <div class="routine-page__content">

        <p class="routine-page__eyebrow">
            {{ section.settings.eyebrow }}
        </p>

        <h2>
            {{ section.settings.routine_heading }}
        </h2>

        <div class="routine-buttons">
            {% for block in section.blocks %}
                <a href="{{ routes.all_products_collection_url }}?filter.p.m.custom.routine={{ block.settings.filter_value | url_encode | replace: '+', '%20' }}"
                    class="routine-button"
                    data-index="{{ forloop.index0 }}">

                      {% if block.settings.card_image %}
                          {{ block.settings.card_image | image_url: width: 600 | image_tag }}
                          <span>{{ block.settings.title }}</span>
                      {% else %}
                        {{ block.settings.title }}    
                      {% endif %}
                </a>
            {% endfor %}
        </div>

        <span class="routine__heading">
          {{ section.settings.heading }}
        </span>

        <div class="routine-page__description">
            {{ section.settings.description }}
        </div>
        
        <div class="second-block">
            <div class="routine-card">

                <div class="routine-card__image">
                    {%  if section.settings.quiz_image %}
                        {{ section.settings.quiz_image
                            | image_url: width: 600
                            | image_tag
                        }}
                    {% endif %}
                </div>
            
                <div class="routine-card__content">
            
                    <span id="routine-card-title" class="uppercase">
                        {{ section.settings.routine_card_title }}
                    </span>
            
                    <p id="routine-card-description">
                        {{ section.settings.routine_card_desc }}
                    </p>
            
                    <a
                        id="routine-card-link"
                        href="#"
                        class="routine-card__button">
                        Take Quiz
                        <span aria-hidden="true">→</span>
                    </a>
                </div>
            </div>
            <span class="routine-card__arrow">
                &gt;
            </span>
        </div>
        
    </div>

</div>

{% schema %}
{
  "name": "Routine Page",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Left Image"
    },
    {
      "type": "text",
      "id": "eyebrow",
      "label": "Eyebrow",
      "default": "ROUTINE PAGE"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Find Your Perfect Match"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Not sure where to start? Answer a few questions and we'll match you to the right products."
    },
    {
      "type": "text",
      "id": "routine_heading",
      "label": "Routine Heading",
      "default": "Shop by Routine"
    },
    {
        "type": "image_picker",
        "id": "quiz_image",
        "label": "Quiz Card Image"
    },
    {
        "type": "text",
        "id": "routine_card_title",
        "label": "Routine Card Title",
        "default": "Hair Type"
    },
    {
        "type": "text",
        "id": "routine_card_desc",
        "label": "Routine Card Description",
        "default": "The best products and routine for your hair."
    }
  ],
  "blocks": [
    {
      "type": "routine",
      "name": "Routine",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "filter_value",
          "label": "Filter Value"
        },
        {
          "type": "image_picker",
          "id": "card_image",
          "label": "Card Image"
        }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "Routine Page",
      "blocks": [
        {
          "type": "routine",
          "settings": {
            "title": "Classics",
            "filter_value":"Classics"
          }
        },
        {
          "type": "routine",
          "settings": {
            "title": "Confident Curls",
            "filter_value":"Confident Curls"
          }
        },
        {
            "type": "routine",
            "settings": {
              "title": "Healthy Tresses",
              "filter_value":"Healthy Tresses"
            }
        },
        {
            "type": "routine",
            "settings": {
                "title": "Length & Strength",
                "filter_value":"Length & Strength"
            }
        },
        {
            "type": "routine",
            "settings": {
                "title": "Moisture Matters",
                "filter_value":"Moisture Matters"
            }
        },
        {
            "type": "routine",
            "settings": {
            "title": "Revival",
            "filter_value":"Revival"
            }
        },
        {
            "type": "routine",
            "settings": {
                "title": "Soothe Calm",
                "filter_value":"Soothe Calm"
            }
        }
      ]
    }
  ]
}
{% endschema %}